<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Page</title>
</head>
<style>
    div{
        max-width: fit-content;
        max-height: fit-content;
    }
    @keyframes pong{
        0%{left: 0% ;}
        25%{left: 60% ;}
        50%{left: 0%;}
        75%{left: -10%;}
        100%{left: 0.5%;}

    }
    @keyframes stretch {
        0%{top: 0px; width: 500px; background-color: lightsteelblue;}
        25%{top: 200px;width: 1000px;background-color: darkcyan;}
        50%{top:400px;width: 250px;background-color: aquamarine;}
        75%{top: 200px;width: 1000px;background-color: darkcyan;}
        80%{transform: skew(360deg);}
        100%{top: 0px; width: 500px; background-color: lightsteelblue;}
    }
    @keyframes rotate {
        0%{top: 200px;}
        25%{transform: rotate(180deg);top: 200px;}
        50%{transform: rotate(270deg);top: 200px;}
        75%{transform: rotate(360deg);top: 200px;}
        100%{top: 0px;}
        
    }
    @keyframes Undertale {
        0%{top: 500px}
        5%{left: 0px;top: 500px;transform: rotate(360deg);}
        10%{top: 250px;left: -250px;}
        15%{width: 1000px; left: 500px;top: 600px;}
        20%{left: 0px;left: 0px;}
        25%{transform: skewY(25deg);}
        30%{transform: skewX(50deg);}
        35%{transform: skew(100deg);}
    }
    body{
        background-color:lightslategrey ;
    }
    .aboutText{
        background-color:lightsteelblue ;
        color: crimson;
        max-width: 1000px;
        max-height: fit-content;
        position: absolute;
        text-align: center;
        margin-top: 45px;
        margin-left: 18%;
        border: 2px;
        border-style: dotted ;
        border-color: black;
       
        
    }
    .author1{
        background-color: rgb(125, 10, 192);
        position:absolute;
        margin-top: -18px;
        max-width: fit-content;
        margin-left: 18%;
        max-height: fit-content;
        color: white;
        border: 2px;
        border-style: ridge;
        border-color: black;
        
    }
    .author2{
        background-color:orange ;
        max-width: fit-content;
        position: absolute;
        border: 2px;
        border-style: ridge;
        border-color: black;
        margin-top: -17px;
        margin-left: 449px;
    }
    .author3{
        background-color:lightblue ;
       position: absolute;
        max-width: fit-content;
        margin-top: -17px;
        max-height: fit-content;
        margin-left: 543px;
        border: 2px;
        border-style: ridge;
        border-color: black;
        
        
    }
    .author4{
        background-color: crimson;
        max-width: fit-content;
        position: absolute;
        border: 2px;
        border-style: ridge;
        border-color: black;
        margin-top: -17px;
        margin-left: 680px;
    }
    .GoBack{
        max-width: fit-content;
        max-height: fit-content;
        background-color: wheat;
        margin-top: -10px;
        margin-left: -10px;
    }
</style>
<body>
    <embed src="/Music/Elevator" loop="true" autostart="true" width="2" height="0">
    <div class="aboutText" id="About">
         <p>
            This is Scratch Clone! Scratch clone will teach you the basics of programming with blocks, while making it fun.
         </p>

    </div>
    <div class="author1" id="1" onclick="about(this)">
        <h3>Jacob Smith</h3>
        
    </div>
    <div class="author2"id='2' onclick="about(this)">
        <h3>Jason Lara</h3>
    </div>
    <div class="author3" id="3"onclick='about(this)'>
        <h3 >Shane Winpigler</h3>
    </div>
    <div class="author4" id="4" onclick="about(this)">
        <h3>Logan Cruz</h3>
    </div>
    <div class="goBack" id="5" onclick="about(this)">
    <h5>Go Back</h5>
    </div>
    <script>
        function about(element) {
            console.log(element)
            if (element.id =='1') {
                document.getElementById('About').style.animation = 'pong 4s '
                document.getElementById('About').innerHTML = 'Jacob Smith is the founder of the scratch clone project. I make sure that every employee is working and up to par with company standards. I check over what needs to be done and document what gets done.'
            }
            if (element.id=='2') {
                document.getElementById('About').style.animation = 'stretch 5s'
                document.getElementById('About').innerHTML = 'Jason Lara is the co-founder of the scratch clone project. The GitHub master making sure that every code will merge in efficiently and add additional code or comments for future use of the project. Additional checks and fixes errors that may occur in the project.'
            }
            if (element.id =='3') {
                document.getElementById('About').style.animation = 'rotate 3s'
                document.getElementById('About').innerHTML = 'This is Shane Winpigler'
            }
            if (element.id=='4') {
                document.getElementById('About').style.fontFamily='Comic Sans MS'
                document.getElementById('About').style.animation='Undertale 15s'
                document.getElementById('About').innerHTML = 'Hello. My name is Logan. I am the ome of first Juniors who worked for this project. I coded most of the HTML and CSS for the infomation pages and the animations on the "Creators of Scratch Clone."I also did a bt of EJS to help along the way. '
            }
            if (element.id=='5') {
                window.history.go(-1)
            }
        }

    </script>
   
</body>
</html>