<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Scratch Clone</title>
</head>
<!-- css below for the page. may turn it into a css file if mutiple page required to have this css -->
<style>
    html{
        background-color: lightblue;
    }
    .backgroundBox{
        min-width: 510px;
        min-height: 500px;
        border: 8px;
        background-color: darkblue;
        border-style: ridge;
        border-color: black;
        margin-top: 50px;
    }
    .backgroundText{
        text-align: center;
        
      background-color: rgb(87, 106, 187);
    }
    .gameLink{
        max-width: 50px;
        max-height: 50px;
        background-color: red;
        margin-top: -570px;
        margin-left: 600px;
        border: 4px;
        border-style: groove;
        border-color: aqua;
        
    }
    .notes{
        max-width: 390px;
        max-height: 600px;
        background-color: cadetblue;
        margin-top: 510px;
    }
    .notes h1{
        border: 2px;
        border-style: dashed;
        border-color: rgb(20, 12, 95);
    }
    .about{
        max-width: 390px;
        max-height: 600px;
        background-color: darkcyan;
        margin-top: -60px;
        margin-left: 1520px;
    }
    .about h1{
        border:2px;
        border-style: dashed;
        border-color: rgb(13, 65, 66);
    }
    .aboutpage2{
        background-color:darkturquoise ;
        border: 2px;
        max-width: fit-content;
        max-height: fit-content;
        border-style: groove;
        border-color: black;
        margin-left: 1520px;
        margin-top: -23px;
    }
</style>
<body>
    <div class="backgroundBox">
        <div class="backgroundText">
            <h2>Welcome to Scratch Clone</h2>
          
        </div>
    </div>
    <!-- A link that goes to the game page below. -->
    <div class="gameLink">
        <p><a href="/gamePage"> Game Page</a></p>
    </div>
    <!-- this will teach the user any tips and trick about scratch clone -->
    <div class="notes" onclick="window.location.href='//github.com/Jlara2005/Scratch_Clone/wiki/Notes' ">
        <h1>Notes about Scratch Clone</h1>
    </div>
    <!-- This will talk about the project and the people behind it -->
    <div class="about"  onclick="window.location.href='//github.com/Jlara2005/Scratch_Clone/wiki' ">
        <h1>About Scratch Clone</h1>
    </div>
    <div class="aboutpage2" >
        <h5 ><a href="/aboutPage"> Creators of Scratch Clone</a> </h5>
    </div>
</body>
</html>

  <!--
    A image that soon going to be added later.
    <img src="scratch_dora.jpg" alt=""> 
-->