<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<style>
    html {
        background-color: lightblue;
    }

    .backgroundBox {
        min-width: 510px;
        min-height: 500px;
        border: 8px;
        background-color: darkblue;
        border-style: ridge;
        border-color: black;
        margin-top: 50px;
    }

    .backgroundText {
        text-align: center;

        background-color: rgb(87, 106, 187);
    }

    .gameLink {
        max-width: 50px;
        max-height: 50px;
        background-color: red;
        margin-top: -570px;
        margin-left: 600px;
        border: 4px;
        border-style: groove;
        border-color: aqua;

    }

    .notes {
        max-width: 390px;
        max-height: 600px;
        background-color: cadetblue;
        margin-top: 510px;
    }

    .notes h1 {
        border: 2px;
        border-style: dashed;
        border-color: rgb(20, 12, 95);
    }

    .about {
        max-width: 390px;
        max-height: 600px;
        background-color: darkcyan;
        margin-top: -60px;
        margin-left: 1520px;
    }

    .about h1 {
        border: 2px;
        border-style: dashed;
        border-color: rgb(13, 65, 66);
    }
</style>

<body>
    <div class="backgroundBox">
        <div class="backgroundText">
            <h2>Welcome to Scratch Clone</h2>

            <body>
                <form action="/login" method="POST" id="form">
                    <input type="text" name="username" id="" placeholder="username" required> <br>
                    <input type="text" name="password" id="" placeholder="password" required><br>
                    <button type="submit" value="login" name="choice"> Login </button> <button type="submit"
                        value="create" name="choice"> Create </button>
                </form>
                <%- error %>
            </body>
        </div>
    </div>
</body>
<script>
    var user = <%- JSON.stringify(login) %>
    if (user) {
        let forms = document.getElementById("form");
        forms.innerHTML = "<button type='submit' value='login' name='choice'> Do you want to log out </button>"
        forms.action = "/logout"
    }
</script>

</html>